

{{#if payload._id}}
    <div>
        <h1 class="font-semibold text-4xl text-gray-700 text-center uppercase my-5"><small>{{payload._id}}</small> cart products</h1>
    <ul class="mt-4">
        {{#each payload.products}}
            <li class="flex justify-between">
                <div>
                    <p class="font-semibold text-lg">{{product.title}}</p>
                    <p class="font-bold text-xl text-green-600 text-justify">$ {{product.price}}</p>
                    <p class="max-w-lg my-2">{{product.description}}</p>
                    <p class="">QUANTITY: {{quantity}}</p>
                    <p class="">PRODUCT ID: {{product._id}}</p>
                    <p class="">CODE: {{product.code}}</p>
                    <p class="">STATUS: {{product.status}}</p>
                    <p class="">STOCK: {{product.stock}}</p>
                    <p class="">CATEGORY: {{product.category}}</p>
                    <p class="max-w-lg">Nº OF THUMBNAILS: {{product.thumbnails.length}}</p>
                </div>
                <div class="flex flex-wrap justify-end gap-2">
                    {{#each product.thumbnails}}
                        <img class="h-32" src={{this}} alt="Product image">
                    {{/each}}
                </div>
            </li>
            <hr class="my-5 border-gray-600">
        {{/each}}
    </ul>
    </div>
{{else}}
    <div>
        <h1 class="font-semibold text-4xl text-gray-700 text-center uppercase my-5">The cart doesn't exists</h1>
    </div>
{{/if}}
